* {
    box-sizing: content-box;
} 

body {
    margin: 0; 
  }

/* Header navbar */ 
.navbar{
    overflow: hidden; 
    background-color: #1884bd; 
    margin: 0; 
    padding: 50px;
}

.center h1{
    display: block;  
    margin-right: 42%; 
    margin-left: 42%;
    margin-top: -45px;
    width: 55px;
    padding: 50px;
    background-color: #1884bd;
    border: 3px solid whitesmoke; 
    border-radius: 25px; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
}  

#p1{
    position: absolute;
    margin-right: 32%; 
    margin-left: 33%; 
    margin-top: 3%;
    width: 400px; 
    padding: 3px; 
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
}  

#p2{
    position: absolute;
    margin-right: 32%; 
    margin-left: 33%; 
    margin-top: 6%;
    width: 400px; 
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
}

#p3{
    position: absolute;
    margin-right: 32%; 
    margin-left: 32%; 
    margin-top: 12%;
    width: 450px; 
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}

.footer {
    position: fixed;  
    left: 0; 
    bottom: 0; 
    width: 100%; 
    padding: 50px;
    background-color: #1884bd;  
    text-align: center;
} 

a{
    position: fixed; 
    margin: -35px -215px;
    height: 50px;  
    width: 20%;   
    padding: 5px; 
    border: 3px solid whitesmoke; 
    border-radius: 25px; 
    background-color: #1884bd; 
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace; 
    text-decoration: none;
    color: whitesmoke; 
    cursor: pointer;    
}  
