* {
    box-sizing: content-box;
} 

body {
    margin: 0; 
    overflow: auto;
}

/* Header navbar */ 
.navbar{
    overflow: hidden; 
    margin: 0; 
    padding: 25px; 
    background-color: grey;
}

.navbar a { 
        display: inline; 
        margin-left: 86%; 
        font-family: 'Courier New', Courier, monospace; 
        font-size: 25px;
        text-align: center;   
        text-decoration: none; 
        border: 3px solid whitesmoke;
        border-radius: 25px;  
        padding: 7px;   
}

.center img{
    display: block;  
    margin-right: 42%; 
    margin-left: 42%;
    margin-top: -45px;
    width: 142px;
    height: 175px;
    border: 3px solid whitesmoke; 
    border-radius: 25px; 
} 

#p1{
    position: absolute;
    margin-right: 68%;  
    margin-top: -5%;
    width: 400px; 
    padding: 3px; 
    font-size: 25px;
    color: black;
    text-align: center;     
}   

#p2{
    position: absolute;
    margin-left: 32%;
    margin-right: 33%;  
    margin-top: 5%;
    width: 400px; 
    padding: 3px; 
    font-size: 25px;
    color: black;
    text-align: center;     
}


#p3{
    position: absolute;
    margin-left: 68%;  
    margin-top: -5%;
    width: 400px; 
    padding: 3px; 
    font-size: 25px;
    color: black;
    text-align: center;     
} 

.center h6{
    position: absolute;
    margin-right: 32%; 
    margin-left: 33%;
    margin-top: 37%;  
    width: 400px;  
    font-size: 30px;
    color: black;
    text-align: center; 
}  

.img1{ 
    margin-top: 45%; 
    margin-left: 35%; 
    margin-right: 35%; 
    cursor: pointer; 
} 

.footer { 
    bottom: 0; 
    width: auto; 
    padding: 50px;
    background-color: grey;   
}
    